.container {
  padding-top: 20px;
  text-align: center;
  max-width: 1140px;
  margin: auto;
  margin-bottom: 30px;
}

.TrendingCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #e4853c;
  margin: 2rem 1rem;
  padding: .7rem 1rem;
  font-weight: 500;
  margin-bottom: 200px;
}