.ButtonPrimary{
  display: inline-block;
  width: 40%;
  height: 30px;
  padding: 10px;
  border-radius: 20px;
  background-color: #e4853c;
  color: white;
  line-height: 32px;
  font-size: 18px;
  text-decoration: none;
}

.ButtonPrimary:hover{
  background-color: #a8622c;
}


@media screen and (min-width:768px) {
  .ButtonPrimary{
      width: 30%;
      height: 30px;
  }
}